.body {
    margin: auto;
}

#header {
    width: 96%;
    padding: 2%;
    background-color: white;
}

#clock {
    font-size: 1.8vw;
    font-family: Arial;
    font-weight: 600;
    color: black;
    float: right;
    background-color: white;
}

#logo {
    float: left;
}

.logo {
    width: 35%;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#base {
    background-color: white;
}

p {
    color: white;
}